<!doctype html>
<html lang="en" ng-app="posthornApp">
<head>
    <meta charset="utf-8">

    <title>My HTML File</title>

    <link rel="stylesheet" href="${bootstrapWebjarPath}/css/bootstrap.css">
    <link rel="stylesheet" href="${rootPath}/css/main.css">

    <script src="${angularjsWebjarPath}/angular.js"></script>
    <script src="${rootPath}/js/services.js"></script>
    <script src="${rootPath}/js/controllers.js"></script>
    <script src="${angularjsWebjarPath}/angular-resource.js"></script>
</head>
<body ng-controller="MailListController">

    <ul>
        <li ng-repeat="mail in mails">
            <span>{{mail.indexId}}</span>
            <dl>
                <dt>dateTimeOfReception</dt>
                <dd>{{mail.dateTimeOfReception}}</dd>
                <dt>senders</dt>
                <dd>{{mail.senders}}</dd>
                <dt>recipients</dt>
                <dd>{{mail.recipients}}</dd>
            </dl>
        </li>
    </ul>

</body>
</html>